<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <!--<typeAliases>-->
    <!--<package name="com.coocaa.ad.common.core.entity"/>-->
    <!--</typeAliases>-->
<!--    <plugins>-->

<!--        <plugin interceptor="com.coocaa.ad.common.mybatis.plugin.PageInterceptor">-->
<!--            <property name="databaseType" value="mysql"/>-->
<!--        </plugin>-->
<!--        <plugin interceptor="com.coocaa.ad.dsp.api.permissions.PermissionsInterceptor"></plugin>-->
<!--    </plugins>-->

</configuration>
